*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-theme="1"] {
  --main-text-color: hsl(0, 0%, 100%);
  --theme1-background: hsl(222, 26%, 31%);
  --theme1-keypad-background: hsl(223, 31%, 20%);
  --theme1-screen: hsl(224, 36%, 15%);
  --theme1-keys: hsl(30, 25%, 89%);
  --theme-keys-shadow: hsl(28, 16%, 65%);
  --theme1-eqals-btn: hsl(6, 63%, 50%);
  --theme-equals-btn-shadow: hsl(6, 70%, 34%);
  --theme1-reset-btn: hsl(225, 21%, 49%);
  --theme-reset-btn-shadow: hsl(224, 28%, 35%);
  --theme-calc-btn-color: hsl(223, 31%, 20%);
  --reset-btn-color: hsl(0, 0%, 100%);
  --equals-btn-color: hsl(0, 0%, 100%);
}

[data-theme="2"] {
  --main-text-color: hsl(60, 10%, 19%);
  --theme1-background: hsl(0, 0%, 90%);
  --theme1-keypad-background: hsl(0, 5%, 81%);
  --theme1-screen: hsl(0, 0%, 93%);
  --theme1-keys: hsl(45, 7%, 89%);
  --theme-keys-shadow: hsl(35, 11%, 61%);
  --theme1-eqals-btn: hsl(25, 98%, 40%);
  --theme-equals-btn-shadow: hsl(25, 99%, 27%);
  --theme1-reset-btn: hsl(185, 42%, 37%);
  --theme-reset-btn-shadow: hsl(185, 58%, 25%);
  --theme-calc-btn-color: hsl(60, 10%, 19%);
  --reset-btn-color: hsl(0, 0%, 100%);
  --equals-btn-color: hsl(0, 0%, 100%);
}

[data-theme="3"] {
  --main-text-color: hsl(52, 100%, 62%);
  --theme1-background: hsl(268, 75%, 9%);
  --theme1-keypad-background: hsl(268, 71%, 12%);
  --theme1-screen: hsl(268, 71%, 12%);
  --theme1-keys: hsl(268, 47%, 21%);
  --theme-keys-shadow: hsl(290, 70%, 36%);
  --theme1-eqals-btn: hsl(176, 100%, 44%);
  --theme-equals-btn-shadow: hsl(177, 92%, 70%);
  --theme1-reset-btn: hsl(281, 89%, 26%);
  --theme-reset-btn-shadow: hsl(285, 91%, 52%);
  --theme-calc-btn-color: hsl(52, 100%, 62%);
  --reset-btn-color: hsl(0, 0%, 100%);
  --equals-btn-color: hsl(198, 20%, 13%);
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

body {
  background-color: var(--theme1-background);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
}

.main-container {
  min-width: 600px;
  max-width: 40%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
  margin: 2rem 0;
}

.theme {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.calculator-screen {
  font-size: 3.7rem;
  padding: 2.5rem 2rem;
  color: var(--main-text-color);
  background-color: var(--theme1-screen);
  border-radius: 10px;
  text-align: right;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.calculator-keyboard {
  position: relative;
  background-color: var(--theme1-keypad-background);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  border-radius: 10px;
  font-size: 2.5rem;
  z-index: 0;
}

.calc-btn {
  position: relative;
  border-radius: 7px;
  padding: 0.7rem;
  background-color: var(--theme1-keys);
  color: var(--theme-calc-btn-color);
}

.calc-btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  bottom: -5px;
  left: 0;
  height: 16px;
  border-radius: 7px;
  background-color: var(--theme-keys-shadow);
}

.reset-btn {
  position: relative;
  font-size: 1.7rem;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 7px;
  padding: 0.7rem;
  background-color: var(--theme1-reset-btn);
  color: var(--reset-btn-color);
  text-transform: uppercase;
}

.del-btn {
  position: relative;
  border-radius: 7px;
  font-size: 1.7rem;
  background-color: var(--theme1-reset-btn);
  color: var(--reset-btn-color);
  text-transform: uppercase;
}

.reset-btn::after,
.del-btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  bottom: -5px;
  left: 0;
  height: 16px;
  border-radius: 7px;
  background-color: var(--theme-reset-btn-shadow);
}

.equals-btn {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 5;
  border-radius: 7px;
  padding: 0.7rem;
  background-color: var(--theme1-eqals-btn);
  color: var(--equals-btn-color);
}

.equals-btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  bottom: -5px;
  left: 0;
  height: 16px;
  border-radius: 7px;
  background-color: var(--theme-equals-btn-shadow);
}

.calc-btn:active,
.del-btn:active,
.reset-btn:active,
.equals-btn:active {
  top: 5px;
}
.calc-btn:active::after,
.del-btn:active::after,
.reset-btn:active::after,
.equals-btn:active::after {
  bottom: 0;
}

/* SWITCH  */

.theme-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

fieldset {
  position: relative;
  border: none;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--theme1-keypad-background);
  padding: 0.4rem;
  border-radius: 25px;
}

input[type="radio"] {
  appearance: none;
  background-color: inherit;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: var(--theme1-eqals-btn);
}

.labels {
  position: absolute;
  display: flex;
  top: -1rem;
  left: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 760px) {
  body {
    height: auto;
    min-height: 100vh;
  }

  .main-container {
    min-width: 260px;
    width: 90%;
    max-width: 95%;
  }

  .calculator-keyboard {
    padding: 1rem;
    gap: 1rem;
  }
  .calculator-screen {
    padding: 1.5rem 1rem;
    font-size: 2.5rem;
  }
}
